<footer class="footer">

    
      <h5><%= link_to "Clock+",   root_path %></h5>
      <h5>email- s3733075@student.rmit.edu.au</h5>
      <h5>attempt - pass level</h5>

      <ul>
      <li><%= link_to image_tag("facebookIcon.png", alt: "Facebook logo"),
            'https://www.facebook.com/' %></li>

      <li><%= link_to image_tag("twitterIcon.png", alt: "Twitter logo"),
            'https://twitter.com/explore' %></li>
        
      <li><%= link_to image_tag("linkedinIcon.png", alt: "LinkedIn logo"),
            'https://www.linkedin.com/' %></li>
    </ul>
</footer>