<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
      <%= link_to "Clock+", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Showcase",    root_path %></li>
            <li><%= link_to "Contact Us",    "mailto:s3733075@student.rmit.edu.au" %></li>
          </ul>
        </nav>
      </div>
    </header>